@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-SemiBold.eot');
  src: local('Rajdhani SemiBold'), local('Rajdhani-SemiBold'),
      url('../fonts/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rajdhani-SemiBold.woff2') format('woff2'),
      url('../fonts/Rajdhani-SemiBold.woff') format('woff'),
      url('../fonts/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Regular.eot');
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'),
      url('../fonts/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rajdhani-Regular.woff2') format('woff2'),
      url('../fonts/Rajdhani-Regular.woff') format('woff'),
      url('../fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Medium.eot');
  src: local('Rajdhani Medium'), local('Rajdhani-Medium'),
      url('../fonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rajdhani-Medium.woff2') format('woff2'),
      url('../fonts/Rajdhani-Medium.woff') format('woff'),
      url('../fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Light.eot');
  src: local('Rajdhani Light'), local('Rajdhani-Light'),
      url('../fonts/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rajdhani-Light.woff2') format('woff2'),
      url('../fonts/Rajdhani-Light.woff') format('woff'),
      url('../fonts/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../fonts/Rajdhani-Bold.eot');
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'),
      url('../fonts/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Rajdhani-Bold.woff2') format('woff2'),
      url('../fonts/Rajdhani-Bold.woff') format('woff'),
      url('../fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

